<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome </h1>
<p th:text="'Welcome Your UserId: ' + ${RegisterUser.getUserId()}" />
<p th:text="'PassWord: ' + ${RegisterUser.getPassword()}" />
<p th:text="'Name : ' + ${RegisterUser.getName()}" />
<p th:text="'EmailId: ' + ${RegisterUser.getEmail()}" />

<a href="/login">Submit another message</a>
</body>
</html>